:root {
    --color1 : #274760;
    --color2 : #86BBF1;
    --color3 : #D2EAEF;
    --color4 : #F6F6F6;
    --color5 :  rgb(238, 237, 237);
}
/*principale -----------------------*/
.ff-poppins-bold{
    font-family: 'Poppins', "serif";
    font-weight: 700;
}
.ff-inter-bold{
    font-family:'Inter',serif;
    font-weight: 700;
}
.ff-inter-regular{
    font-family:'Inter',sans-serif;
    font-weight: normal;
}
html, body {
    height: 100vh;
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    background-color: var(--color4);
}
nav , .nav-bar-lateral{
    background-color: white !important;
}

.fs-14-px{
    font-size: 14px !important;
}
.bg-linear-top{
    background: linear-gradient(to top, var(--color2), var(--color3)) ;
}
.bg-linear-right{
    background: linear-gradient(to right, var(--color2), var(--color3)) ;
}
.bg-light{
    background: var(--color4);
}
.icone-svg{
    width: 20px; 
    height: 20px;
}
.img-calandar,.img-search{
    position: absolute;
    opacity: 75%;
    width: 250px;
    z-index: 2;
}
.img-calandar{
    bottom: 50px;
    right: 20px; 
}
.img-search{
    top: 0;
    left: 40px;
}
.eyes{
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%);
}
label{
    font-size: 13px !important;
    color: var(--color1);
}
/* numero telephone----------------------*/
.iti {
    width: 100%;
}
button.iti__selected-country{
    border-right: 1px solid rgba(0, 0, 0, 0.144);
    padding-right: 4px;
}
/*----------------------------------------*/
.test{
    border: 1px solid red;
}
/*datepicker----------------------------------------*/
 #datepicker {
    width: 100% !important;
    border-radius: 20px;
    padding: 10px;
    background: var(--color4);
}
.datepicker, .datepicker-days, .table-condensed {
    width: 100%;
    color: var(--color1);
    font-weight: "800";
}
.table-condensed td, .day, .today {
    height: 30px;
    width: 40px !important;
    border-radius: 50%;
}
 .day.active{
    background: #74b0e7 !important;
 }
 /*premie rlogin-----------------------------*/
 .appointments{
    max-height: 340px;
    overflow: auto;
 }

 /*profil----------------------------------------------*/
 #tabs-general li .active{
    background: white !important;
    border: none !important;
 }

.switch {
    width: 70px;
    height: 40px; 
    border-radius: 40px !important;
 }
 .off{
    background: red !important;
 }
.off .switch-handle{
    right: 0 !important;
    left: 10% !important; /*Si le btn est off*/
}
.switch-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    border-width: 0 1px;
    background-color: #fff;
    right: 10%;  /*Si le btn est on*/
    /* left: 10%; */ /*Si le btn est off*/
    width: 35px;
    border-radius: 50%;
 }

.switch-on, .switch-off{
    display: none;
 }


 /* FULLCALANDAR -------------------------------------*/
 #today-events{
    /* height: 100px; */
    height: 140px;
    overflow: auto;
 }
 .has-events {
    background-color: var(--color2) !important; /* Couleur de fond pour les dates avec événements */
    color: white !important; /* Changer la couleur du texte pour le rendre lisible */
}
.fc th a{
    text-align: center;
    text-transform: capitalize;
    color: var(--color1) !important;
}
#calendar {
    background: var(--color5) !important;
    border-radius: 20px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}
#calendar a {
    text-decoration: none;
    color: black;
}

.fc .fc-toolbar-title {
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0px;
}
.fc .fc-button-primary {
    background: none;
    border: none;
    color: var(--color1);
    font-weight: bold;
}
.fc .fc-button-primary:disabled {
    background: none;
    border: none;
    color: var(--color1);
}
.fc .fc-daygrid-day-frame {
    min-height: unset !important;
    height: 100%;
}
.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events, .fc-daygrid-day-bg {
    display: none !important;
}

/*Historique --------------------------------------------------*/
 /* Styles existants */

.event-day {
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

.event-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 0;
}

.event-item {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid var(--color3);
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 5px;
}
.event-item .time {
    width: 100%;
    background-color: var(--color5);
}

.today-events {
    display: flex;
    flex-direction: column;
}
.small-img{
    width: 35px;
    height: 35px;

}

select {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
}

/* Styles de la modale */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
} */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*document -----------------------------*/
.consultation-item{
    min-width: 60px; 
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color5);
}

.status-btn {
    border: 1px solid #ccc;
    background: transparent;
    color: black;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.status-btn.active {
    background: white;
    border: none;
    box-shadow: none;
}
/* reservation etape 1 ---------------------------------------*/
.btn-check {
    display: none;
}
.btn-toggle {
    display: inline-block;
    padding: 5px 10px;
    font-size: 10px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-check:checked + .btn-toggle {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

#newCalendar .fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
    margin: 0;
}
#newCalendar.fc .fc-button-primary {
    background: none;
    border: none;
    color: var(--color1);
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.295);
    margin: 5px;
    border-radius: 50%;
    padding: 5px;
}
#newCalendar .active-date {
    background: var(--color2);
}
#newCalendar table.fc-scrollgrid-sync-table a {
    color: red;
    text-decoration: none;
    color: black;
}