:root {
    --color1 : #274760;
    --color2 : #86BBF1;
    --color3 : #D2EAEF;
    --color4 : #F6F6F6;
}
html, body {
    height: 100vh;
    font-family: 'Inter', sans-serif !important;
    margin: 0;
    background-color: var(--color4);
}
nav , .nav-bar-lateral{
    background-color: white !important;
}

.ff-poppins-bold{
    font-family: 'Poppins', "serif";
    font-weight: 700;
}
.ff-inter-bold{
    font-family:'Inter',serif;
    font-weight: 700;
}
.ff-inter-regular{
    font-family:'Inter',sans-serif;
    font-weight: normal;
}

.fs-14-px{
    font-size: 14px !important;
}
.bg-linear-top{
    background: linear-gradient(to top, var(--color2), var(--color3)) ;
}
.bg-linear-right{
    background: linear-gradient(to right, var(--color2), var(--color3)) ;
}
.bg-light{
    background: var(--color4);
}
.icone-svg{
    width: 20px; 
    height: 20px;
}
.img-calandar,.img-search{
    position: absolute;
    opacity: 75%;
    width: 250px;
    z-index: 2;
}
.img-calandar{
    bottom: 50px;
    right: 20px; 
}
.img-search{
    top: 0;
    left: 40px;
}
.eyes{
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%);
}
label{
    font-size: 13px !important;
    color: var(--color1);
}
/* numero telephone ----------------------*/
.iti {
    width: 100%;
}
button.iti__selected-country{
    border-right: 1px solid rgba(0, 0, 0, 0.144);
    padding-right: 4px;
}
/*----------------------------------------*/
.test{
    border: 1px solid red;
}
/*DATEPICKER----------------------------------------*/
 #datepicker {
    width: 100% !important;
    border-radius: 20px;
    padding: 10px;
    background: var(--color4);
}
.datepicker, .datepicker-days, .table-condensed {
    width: 100%;
    color: var(--color1);
    font-weight: "800";
}
.table-condensed td, .day, .today {
    height: 30px;
    width: 40px !important;
    border-radius: 50%;
}
 .day.active{
    background: #74b0e7 !important;
 }

 /*profil*/
 #tabs-general li .active{
    background: white !important;
    border: none !important;
 }